{% extends 'booking/base.html' %}
{% load custom_filters %}

{% block content %}
<h2>Order Confirmation</h2>

<ul>
    {% for item in cart_items %}
        <li>
            <strong>{{ item.show.title }}</strong><br>
            {{ item.show.team1 }} vs {{ item.show.team2 }} <br>
            Tickets: {{ item.ticket_count }}<br>
            Total for this match: ${{ item.ticket_count|multiply:item.show.price }}<br>
        </li>
    {% empty %}
        <p>Your cart is empty.</p>
    {% endfor %}
</ul>

<h3>Total Price: ${{ total_price }}</h3>

{% endblock %}

